database_file:
  /path/to/hots.db

key:
  Key used to auth with server

commands:
  tips:
    example: "!tips <IRC name>"
    help: Links the tips section and highlights user
  tierlist:
    alias: tl
    example: "!tierlist"
    help: Replies with the url for the Zuna and iDream tierlists
  rotation:
    example: "!rotation"
    help: Prints the name of the current free heroes
  mumble:
    example: "!mumble"
    help: Prints server info and a direct link to the Reddit Mumble server
  ts3:
    example: "!ts3"
    help: Prints server info of the Reddit Teamspeak
  rating:
    example: "!rating <BattleTag>"
    help: Replies with a list of players with the given BattleTag from HotsLogs
  addBattleTag:
    alias: addbt
    example: "!addbt <BattleTag> <region>"
    help: Saves the entered BattleTag for the user.
  getBattleTag:
    alias: getbt
    example: "!getbt <IRC name>"
    help: Print the BattleTag for the entered name
  removeBattleTag:
    alias: removebt
    example: "!removeBattleTag <IRC name>"
    help: Removes the entered battletag for the user
  help:
    example: "!help <command name>"
    help: Display the help for the given command
  bug:
    example: "!bug"
    help: "Print bug tracker URL"
